# Configurações básicas
SECRET_KEY=VOvSJ9e3o4uuk4yfrYSO1FYcwZ74dT7c
DATABASE_URL=postgresql://admin:VOvSJ9e3o4uuk4yfrYSO1FYcwZ74dT7c@dpg-cvt9q3juibrs73dgea50-a/db_liliepaulo

# Configurações de email (Google SMTP)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=casamentoligiaepaulo@gmail.com
MAIL_PASSWORD=czaxtomdhznbgouh

# Configurações do administrador
ADMIN_EMAIL=admin@eventos.com
ADMIN_PASSWORD=b3f6d05e7c8a4d2f9a1c0e8b7d3a6f5
